body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* top: calc((100% - 44px) / 2 + 24px);
left: calc(5 / 24 * 100% + 24px); */

.loader {
    color: #fff;
    position: fixed;
    box-sizing: border-box;
    left: -9999px;
    top: -9999px;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: 999999
}

.loader:after,
.loader:before {
    box-sizing: border-box;
    display: none
}


/* background size and color*/

.loader.is-active {
    background-color: rgba(0, 0, 0, .65);
    width: calc(5 / 12 * 100%);
    height: calc(100% - 45px);
    left: calc(7 / 12 * 100%);
    top: 44px
}

.loader.is-active:after,
.loader.is-active:before {
    display: block
}

@keyframes rotation {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(359deg)
    }
}

/* .loader-default[data-text]:before {
    top: calc((100%-44px)/2+48px)
} */

.loader-default[data-half]:after {
    border-right-color: transparent
}

.loader-default[data-inverse]:after {
    animation-direction: reverse
}

.loader-default[data-text]:before {
    position: fixed;
    left: calc(19 / 24 * 100%);
    top: calc(50% + 48px);
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: start;
    width: 100%;
    font-size: 16px
}

.loader-default[data-text=""]:before {
    content: "Loading"
}

.loader-default[data-text]:not([data-text=""]):before {
    content: attr(data-text)
}

.loader-default[data-text][data-blink]:before {
    animation: blink 1s linear infinite alternate
}

.loader-default:after {
    content: "";
    position: fixed;
    width: 48px;
    height: 48px;
    border: 8px solid #fff;
    border-left-color: transparent;
    border-radius: 50%;
    top: calc((100% - 44px) / 2);
    left: calc(19 / 24 * 100%);
    animation: rotation 1s linear infinite
}